/* Some Notes
    1. Color pallette is inspired by medium blog post pages.
    2. Avatar size is being set as general and one of the most common avatar size 60px ❌ 60px 
 */
 @import url("general-styling.css");
 @import url("navbar-styling.css");
 @import url("footer.css");


.heading {
    max-width: 95vw;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem auto;
    margin: 1.5rem auto;
    border: 2px solid #17a589;
}

.author-info {
    width: 300px;
    max-width: 95vw;
    border: 2px solid #17a589;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem auto;

}

.avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #17a589;
}
.author-info p {
    text-align: center;
    font-size: 1rem;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.figure {
    width: 50vw;
    aspect-ratio: 3 / 2;
}
.blog-text {
    display: flex;
   flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 20px;
    font-size: 1.1rem;
}

.blog-text .abstract {
    font-style: oblique;
    font-weight: bold;
}