@import url("fonts-import.css");
@import url("general-styling.css");

/* 
 Based on modification of this code pen : https://codepen.io/slstudios/pen/mJqjeP
 */

.footer-distributed {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-template-areas: "left right";
	justify-content:left;
	align-items:center;
	background-color: #ddd;
	/* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12); */
	width: 100vw;
}

.footer-left {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: flex-start;
	grid-area: left;
	padding: 1rem;
	margin: 0.5rem;
	font-size: 1rem;
}

.footer-left p {
	text-align: center;
}
.footer-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	grid-area: right;
	margin: 0.5rem;
	
}

.footer-right a {
	font-size: 1.25rem;
	height: 100%;
	width: auto;
	margin-left: 0.5rem;
	padding: 1rem;
	text-align: center;
}

.footer-right a:hover {
	transform:scale(1.1);
	text-decoration: none;
}

@media only screen and (max-width:60rem) {
	.footer-distributed {
		grid-template-columns: repeat(1, 1fr);
		grid-template-areas: "left"
		"right";
		justify-content: center;
		align-items: center;
	}
	.footer-left {
		justify-content: center;
		align-items: center;
	}

	.footer-right {
		justify-content: center;
	}

}